@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700;800;900&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Montserrat', sans-serif;
}

header{
   display: flex;
   max-width: 1920;
   width:100%;
   height: 15vh;
   position: sticky;
}


nav{
   
   position:absolute;
   width: 445px;
   height: 30px;
   margin-top: 35px;
   margin-left: 838px;
   
   
}



ul{
   display: flex;
   justify-content:space-between ;
   align-items: center;
   height: 30px;
   
}

li{
   
   display: inline;
   right:35px;
   font-size: 20px;
   font-weight: bold;
   color: gray;
}

li:hover{
   font-size: 2.0vw;
   cursor: pointer;
   color: black;
}

.portflow-img{
   
   margin-top: 25px;
   margin-left: 140px;
   width: 180px;
   height: 49px;
   background: transparent;
   
   
}

 .container-main {
   
   background-image: url("../desafio-final-1-mod/img-desafio/img-header.png");
   background-repeat: no-repeat;
   background-size: 100%;
   background-size: 100%;
   background-position: center center;
   height: 75vh;
   width: 100%;
   
  
}

 

.title{
   position: absolute;
   justify-content: center;
   align-items: center;
   margin-top: 28vh;
   margin-left: 15vw;
   color: white;
   
}

h1{
   margin-bottom: 3vh;
   font-weight: 800px;
   font-size: 48px;
   height: 10vh ;
   align-items: center;
   width: 65vw;
   flex-direction: row;
   justify-content: center;

}

button{
   
   background: transparent;
   color: white;
   font-weight: 300px;
   font-size: 24px; 
   border-color: transparent;
   text-transform: uppercase;
   margin-top: 25px;;
   cursor:pointer ;

}
.img-section{
   
   display: inline;
   width: 85%;
   margin-top: 78vh; 
   margin-left:10vw; 
   align-items: center;
   position:absolute ;
   border: solid;
   padding-left: 2vw;
}


.first-class .second-class .third-class{
   position: absolute;
   width: 95% ;
   height: 150vh;
   
   margin-top: 35vh;
}

.first-class img, .second-class img, .third-class img{
   width:20vw;
   height: 35vh;
   

}